*{
    padding: 0;
    margin: 0;
}

body   {
  
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
  
  
    }

    .navbar{
      display: flex;
      align-items: center;
      justify-content: space-between;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }

    .navbar-links{
      display: flex;
      column-gap: 20px;
      
      
      

    }
    .navbar-links a{
      color: black;
     
      
      text-decoration: none;
     
    } 
    .navbar-links a:hover{
      text-decoration:underline;
      color: black;

    }
    .menu-bars{
      display: none;
    }

    @media screen and (max-width:700px){

      .menu-bars{
        display: block;
      }
      .navbar-links{
        display: none;
      }
    }
    .side-navbar{
      width:40%;
      height:100%;
      background-color: black;
      position: fixed;
      top:0;
      left: -60%;
      padding: 20px;
      color: wheat;
      bottom: 30px;
      transition:1s;
    }

    .side-navbar-link {
      bottom: 30px;
    }

    .side-navbar-links a{
      color: white;
      text-decoration: none;

     
    }

   
    .side-navbar-links a:hover{
      color: white;
      text-decoration: underline;
    }
    .header{
      display: flex;
      justify-content: center;
      padding-left: 10px;
      padding-top: 20px;
      padding-bottom: 20px;
      gap: 50px;
      bottom: 20%;
    }
    .header-button{
      font-size: 20px;
      background-color: black;
      color: beige;
      padding-left: 20px;
      padding-top: 20px;
      padding-bottom: 10px;
      padding-top: 10px;
      min-height: 5px;
      bottom: 20px;
      margin: 50px;
      cursor: pointer;
      width: 40%;
    }
    .image{
      padding-left: 30px;
    }
    .service{
      padding:20px;
    }
    .service-container-1{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .service-container-2{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 20px;
      padding-bottom: 20px;
      gap: 5px;
      
      
    }
    .service-container-2 div{
      background-color: rgb(218, 28, 28);
      color: black;
      margin: 20px;
      border-radius: 5px;
      padding: 10px;
    }
    .arrival-button{
      padding-left: 10%;
      padding-bottom: 10%;
      padding-top: 5%;
      padding-bottom: 5%;
      margin-top: 10px;
      color: rgb(219, 153, 10);
      background-color:black
      position: absolute;
      top:80%;
      left: 18%;
      width:40%;
      height: 15%;


  
      
    }
    .new-arrival{

      display: flex;
      align-items: center;
      justify-content: space-around;
    }
    .new-arrival-content{
      position: relative;
      flex-basis: 20%;
    }
    .join-section {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .join-section input{
      padding: 10px;
      
      width: 50vw;
margin-bottom: 10px;
border-color: black;
    }
    .join-section button{
      margin: 10px;
      border-radius: 30px;
      background-color: black;
      color: bisque;
      padding: 25px;
    }
    .footer{
      background-color: black;
      color: beige;
      padding: 30px;
      gap: 5px;
      
    }
    .product-section{
      display: flex;
      margin-top: 20px;
    
     
    }
    .product-search {
      border: solid black;
      padding: 10px;
      width: 80%;
      justify-content: space-between;
      align-items: center;
      display: flex;
      margin: 15px;
      border-radius: 15px;

    }
    .product-search input{
      border: none;
      background-color: transparent;
      width: 100%;

    }
   .product-search input:focus{
     outline: none;
    }
    .products{
      padding: 10px;
      margin-top: 5px;
      display: inline;
      flex-wrap: wrap;
      gap: 10px;
      text-align: center;
      justify-content: space-around;
     
    }
    .product-box{
     text-align: center;
      flex-basis: 20%;
      display: flex;
      gap: 10px;
      justify-content: space-around;
      
    }
    .contact-page input{
      padding: 10px;
      border: solid black;
      
      width:40%;
      
      
    }
    .contact-page h5{
      color:white;
      background-color:black;
      width:  41%;
      padding-left: 10px;
      font-size: medium;
    }
    .contact-page{
      padding: 20px;
      gap: 80px;
      margin: 8px;

      
      
    }
    .contact-page div{
      gap: 15px;
      
    
    }
    .search-collection{
      padding: 10px;
      text-align: center;
      justify-content: center;
      margin: 15px;
     
    }
    .search-collection img{
      text-align: center;


    }
    .search-collection i{
      gap: 25%;
      justify-content: left;
    }
   